.spinner {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh; /* 全画面中央に表示する */
}

.error-message {
  color: red;
  margin-top: 16px;
}

.result {
  margin-top: 40px;
}

.form-field {
  margin-right: 16px;
}

.mat-elevation-z8 {
  margin-bottom: 16px;
}

.chart-container h3 {
  margin: 0.5em 0 0.2em;
}
.chart-container p {
  margin: 0 0 1em;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;

  canvas {
    width: 200px !important;
    height: 200px !important;
  }
}

.tool-overview {
  background: #fafafa;
  padding: 0 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  li {
    color: #333;
    font-size: 12px;
  }
}
.form-type {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  li {
    list-style: none;
    width: calc(50% - 10px);
    box-sizing: border-box;
    border: 1px solid #666;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    ul {
      padding: 0;
      margin : 0 0;
    }
    li {
      border: none;
      padding: 0;
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(1) {
        width: calc(70% - 10px)
      }
      &:nth-child(2) {
        width: calc(30% - 10px)
      }
    }
    input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  }
  input[type=file] {
    margin-bottom: 20px;
  }
  h3 {
    margin-top: 0;
  }
  .t-center {
    text-align: center;
  }
}